@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700;900&display=swap');

:root {
    --cor-principal: #81D7CD;
    --cor-secundaria: #FF0048;
    --cor-terciaria: #727272;
    --cor-fundo: #FFFDF7;
    --cor-links: #B13756;
    --cor-frase-destaque: #5B1023;

   
}

* {
    margin: 0;
    padding: 0;
}

body {
    /* height: 100vh; */
    box-sizing:border-box;
    background-color: var(--cor-fundo);
    color: var(--cor-principal);
}   


#imgpos {
    position:absolute;
    left: 400px;
    margin-left:450px;
    margin-top: -700px;
    width: 40%;
    
}

#imgpos1 {
    position:absolute;
    left: 400px;
    margin-left:700px;
    margin-top: -500px;
    width: 800px;
}

#imgpos2 {
    position:absolute;
    left: 400px;
    margin-left:-500px;
    margin-top: 700px;
    width: 800px;
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}

.cabecalho {
    padding: 2% 0% 0% 28%;
}

.cabecalho__menu__link {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 1rem;
    color: var(--cor-links);
    text-decoration: none;
}

.apresentacao {
    padding: 8% 28%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}

.apresentacao__conteudo {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;

}

.titulo {
    font-size: 3.75rem;
    font-family: 'Roboto', sans-serif;
    width: 500px;
    
}

.titulo-destaque {
    color: var(--cor-secundaria);
 }
 
 .frase-destaque {
     color: var(--cor-frase-destaque);
     font-size: 1.18rem;
     letter-spacing: 1.5px;
 }

.subtitulo {
    font-family: 'Roboto', sans-serif;
    font-size: 1.75rem;
    width: 50%;
    padding: 70px 0 0;
}

.primeiro__paragrafo {
    font-family: 'Roboto', sans-serif;
    font-size: 1.18rem;
    color: var(--cor-terciaria);
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}

.segundo__paragrafo {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    color: var(--cor-terciaria);
    border-style: dotted;
    width: 50%;
    border-radius: 20px;
    border-color: var(--cor-secundaria);
    padding: 12px ;
    
}

.subtitulo__quero__adotar {
    font-family: 'Roboto', sans-serif;
    font-size: 1.75rem;
    
    
}

.terceiro__paragrafo {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    color: var(--cor-terciaria);
    padding: 0% 0% 15% 0%;
}

#imgpos3 {
    position:absolute;
    left: 400px;
    margin-left:135px;
    margin-top: 240px;
    
    
}

.quarto__paragrafo {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    color: var(--cor-terciaria);
    padding: 0% 0% 10% 0%;
}

.Adoção__destaque {
    color: #FF0048;
}

#imgpos4 {
    position:absolute;
    left: 400px;
    margin-left:135px;
    margin-top: 500px;
    
}   

.quinto__paragrafo {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    color: var(--cor-terciaria);
    padding: 0% 0% 10% 0%;
}

#imgpos5 {
    position:absolute;
    left: 400px;
    margin-left:130px;
    margin-top: 730px;
}  

.sexto__paragrafo {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    color: var(--cor-terciaria);
    padding: 0% 0% 10% 0%;
}

#imgpos6 {
    position:absolute;
    left: 400px;
    margin-left:135px;
    margin-top: 970px;
}  

.setimo__paragrafo {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    color: var(--cor-terciaria);
}

.apresentacao__conteudo__about {
    font-family: 'Roboto', sans-serif;
    padding: 0% 40% 5%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    
    
    

}

.titulo__about {
    font-size: 1.87rem;
    font-family: 'Roboto', sans-serif;
    width: 400px;
    color: var(--cor-secundaria);
    padding: 0% 0% 5% 0%;
    text-align: center;

}

.apresentacao__conteudo__texto {
    color: var(--cor-terciaria);
    padding: 0% 0% 15% 0%;
    text-align: center;
    font-size: 1.25rem;
    
}

#imgpos_about {
    position:absolute;
    left: 400px;
    margin-left: -250px;
    margin-top: -100px;
    width: 50%;
}

.apresentacao__imagem__index {
    width: 30%;
}

.rodape {
    padding: 20px ;
    color: #FFFFFF;
    background-color: #F98697;
    text-align: center;
    font-family: 'roboto', sans-serif;
    font-size: 1rem;
    font-weight: 400;
   
  

}

@media (max-width: 1200px) {
    .cabecalho {
      padding: 4%;

    }

    .cabecalho__menu {
        justify-content: center;
    }
  
    .apresentacao {
    flex-direction: column-reverse;
    padding: 5%;
  }

  .apresentacao__conteudo {
    width: auto;
  }
}
	
	
